* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: white;
	width: 100%;
	float: left;
	text-align: center;
}
nav {
	text-align: center;
	background-color: #b8e986;
	width: 100%;
	padding: 0;
	margin: 0;
}
nav a {
	display: inline-block;
	color: black;
	text-decoration: none;
	font-size: 130%;
	padding: 0, 80%;
	margin-left: 4%;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: rgb(25, 85, 8);
}
a:visited {
	color: black;
}

body {
	text-align: center; /* Alinea el contenido del cuerpo al centro */
	margin:0;
	padding: 0;
}

table,th,td {
	border: 1px solid #b8e986;
	border-collapse: collapse;
}
th,td {
	padding: 5px;
}
table {
	border-spacing: 0%;
}
td {
	width: 10%;
}

/* Estilo para la imagen */
.descrip {
	margin: 1%;
	/* float: left; */ /* Alinea la imagen a la izquierda */
	/* width: 30%; */
}
/* Estilo para el texto */
.product-description {
	text-align: left; /* Alinea el texto de forma justificada */
	font-size: 16px; /* Tamaño de fuente */
}

h1 {
	text-align: center;
	margin-top: 20px;
}

/* Estilos del formulario de compra*/
.container {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #b8e986;
	border: 1px solid rgb(25, 85, 8);
	padding: 20px;
	
}


.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.form-group label {
	width: 30%;
	font-weight: bold;
}

.form-group input,.form-group select {
	width: 70%;
	padding: 5px;
	border: 1px solid #b8e986;
}

.form-group input[type="checkbox"] {
	width: auto;
	margin-right: 10px;
}

.error {
	color: red;
	font-size: 12px;
}


/* Estilos del botón */
.button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button input {
	padding: 10px 20px;
	border: none;
	background-color: rgb(14, 46, 5);
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.buy-button{
	align-content: center;
	background-color: #b8e986;
	color: black;
	border: 1px;
}

.tablaprodtr{
	display: flex;
	align-items: stretch;
	width: 100%;
	border-collapse: collapse;
}
.prodimg{
	/* width: 60%; */
	align-items: center;
	padding: 0;
	border: 1px solid#B8E986;
	text-align: center;
}

.proddesc{
	width: 40%;
	padding: 15px;
	padding: 0; 
	border: 1px solid#B8E986;
	text-align: center;
	
}
.product-description{
	border: 0;
	align-items: center;
	align-content: center;
}

footer {
	width: 100%; /* Ancho del 100% de la pantalla */
	bottom: 0; /* Posición fija en la parte inferior */
	height: 6%; /* Altura del footer */
	/*position: fixed; /* Posición fija */
	background-color: #b8e986;
	align-items: center;
	padding: 0.5%;
	

}


.video{
	width: 25%;
	margin: 0;
	padding: 0;
	display: inline-block;
}



/* <index> */
.container{
    grid-template:
    "header " 30%
    "nav" auto
    "main" auto
    "footer" auto
    auto;
}

@media screen and (max-width: 480px){
    .container{
		grid-template:
        "header" 20%
		"nav" 5%
        "main" auto
        "footer " 10% /
        auto ;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .container{
        grid-template:
        "header"10%
		"nav" 5%
        "main " auto
        "footer" auto/
        auto;
    }
}

/* </index> */




/* <box> */
.container{
    grid-template:
    "headerbox " 30%
    "navbox" auto
    "mainbox" auto
    "footerbox" auto
    auto;
}

@media screen and (max-width: 480px){
    .container{
        grid-template:
        "headerbox" 20%
		"navbox" 5%
        "mainbox" auto
        "footerbox " 10% /
        auto ;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .container{
        grid-template:
        "headerbox"10%
		"navbox" 5%
        "mainbox " auto
        "footerbox" 15% /
        auto;
    }
}

/* </box> */




/* <tabla> */
.container{
    grid-template:
	"headertabla " 30%
    "navtabla" 10%
    "maintabla" auto
    "footertabla" 10%
    auto;
}

@media screen and (max-width: 480px){
    .container{
        grid-template:
		"headertabla" 20%
		"navtabla" 5%
        "maintabla" auto
        "footertabla " 10% /
        auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .container{
        grid-template:
		"headertabla"10%
		"navtabla" 5%
        "maintabla " auto
        "footertabla" 15% /
        auto;
	}
}

/* </tabla> */





/* <producto> */
.container{
    grid-template:
    "headerproducto " 30%
    "navproducto" 10%
    "mainproducto" auto
    "footerproducto" 10%
    auto;
}

@media screen and (max-width: 480px){
    .container{
        grid-template:
		"headerproducto" 20%
		"navproducto" 5%
        "mainproducto" auto
        "footerproducto " 10% /
        auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .container{
        grid-template:
        "headerproducto"10%
		"navproducto" 5%
        "mainproducto " auto
        "footerproducto" 15% /
        auto;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');


.bodyproducto {
	font-family: 'Ubuntu';
	margin: 0 auto;
}

.imgproducto {
	max-width: 100%;
}

.headerproducto {
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content: center;
}

.container-title {
	padding: 30px;
	background-color: #eee;
	margin-bottom: 50px;
	color: #222;
}

.mainproducto {
	margin: 2%;
	display: flex;

}

.container-info-product {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-price {
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-price span {
	font-size: 24px;
	font-weight: 300;
}

.container-details-product {
	padding: 30px 0;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 15px;
}

.form-group label {
	width: 100px;
	color: #222;
	font-weight: 700;
}

.form-group select {
	width: 300px;
	border: none;
	padding: 12px 15px;
	background-color: #f7f7f7;
	outline: none;
	color: #666;
}

.btn-clean {
	border: none;
	background: none;
	color: #B8E986;
	margin-left: 120px;
	cursor: pointer;
}

.btn-clean:hover {
	color:#000000;
}

.container-add-cart {
	display: flex;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #000000;
}

.container-quantity {
	position: relative;
}

.input-quantity {
	background-color: #f7f7f7;
	border: none;
	padding: 10px;
	width: 60px;
	height: 100%;
	color: #000000;
	font-weight: 500;
	line-height: 0;
}

.input-quantity:focus {
	outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.btn-increment-decrement {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 7px;
	right: 7px;
}

.btn-increment-decrement i {
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.fa-chevron-down:hover {
	color:#B8E986;
}

.fa-chevron-up:hover {
	color: #000000;
}

.btn-add-to-cart {
	border: none;
	background-color: #b8e986;
	padding: 10px;
	color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-weight: 700;
	cursor: pointer;
}

.btn-add-to-cart:hover {
	color: #B8E986;
}

.hidden {
	display: none;
}

.container-description,
.container-additional-information,
.container-reviews {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.title-description h4,
.title-additional-information h4,
.title-reviews h4 {
	font-weight: 300;
	color: #666;
	font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews {
	font-size: 13px;
	line-height: 22px;
	margin-top: 25px;
	color:#000000;
	text-align: left;
}


.container-related-products h2 {
	text-align: center;
	margin-bottom: 30px;
}

.card-list-products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.card {
	cursor: pointer;
}

.card-img {
	background: transparent;
	margin-bottom: 15px;
}

.card-img img {
	height: 400px;
	object-fit: cover;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
	display: flex;
	justify-content: space-between;
}

.text-product {
	color: #252525;
	font-weight: 300;
	line-height: 1.4;
}

.text-product h3{
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover{
    color:#B8E986;
}

.text-product p{
    color: #666;
    font-size: 13px;
}

.text-product p:hover{
    color: #B8E986;
}


/* </producto> */




/* comprar */
.container{
    grid-template:
    "headercomprar " 30%
    "navcomprar" 10%
    "maincomprar" auto
    "footercomprar" 10%
    auto;
}

@media screen and (max-width: 480px){
    .container{
        grid-template:
		"headercomprar" 20%
		"navcomprar" 5%
        "maincomprar" auto
        "footercomprar " 10% /
        auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .container{
        grid-template:
		"headercomprar"10%
		"navcomprar" 5%
        "maincomprar " auto
        "footercomprar" 15% /
        auto;
    }
}

/* </comprar> */

/* <formpago> */
.payment-form {
	max-width: 400px;
	margin: 0 auto;
}


.bodyformpago{
	background-color: #daffb4b2;
}

.btn btn-primary{
	color: #000000;
	background-color: #daffb4b2;
}
/* </formpago> */